---
---
/* =======================
 * basic
 * ======================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

blockquote {
  position: relative;
  margin: 1em 0;
  padding: .3em 1em;
}

blockquote:before,
blockquote:after {
  content: '';
  position: absolute;
  background-color: #6599ff;
  width: 80%;
  height: 3px;
}

blockquote:before {
  top: 0;
  left: -1em;
}

blockquote:after {
  bottom: 0;
  right: -1em;
}

code {
  padding: 2px 4px;
  background-color: #f8f8f8;
  color: #999;
}

h1 {
  font-size: 18px;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 0;
  height: 64px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.footer-clear {
  position: relative;
  margin-bottom: -64px;
  min-height: 100%;
}

.footer-clear:after {
  content: "";
  display: block;
  height: 64px;
}

.link-1 {
  padding: 2px;
  color: #6599ff;
  text-decoration: none;
  -webkit-transition: background-color .7s;
  -moz-transition: background-color .7s;
  transition: background-color .7s;
}

.link-1:hover {
  background-color: #e6e6e6;
}


/* =======================
 * page layout
 * ======================= */
.page-wrapper:before {
  content: "";
  display: block;
  padding-top: 50%;
  background-color: #f8f8f8;
}

@media (min-width: 769px) {
  .page-wrapper:before {
    display: none;
  }

  .page-wrapper {
    background-color: #f8f8f8;
  }
}

.page-container {
  position: relative;
  padding-top: 55px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: .09em;
}

.page-container:before {
  content: "";
  position: absolute;
  top: -55px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url({{ site.avatar }});
  background-size: cover;
}

@media (min-width: 600px) {
  .page-container {
    padding-top: 75px;
  }

  .page-container:before {
    top: -75px;
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 769px) {
  .page-container {
    position: absolute;
    right: 0;
    padding-top: 0;
    height: 100%;
    width: 50%;
    min-width: 384.5px;
    background-color: #fff;
  }

  .page-container:before {
    top: 150px;
    left: -75px;
    margin-right: 0;
    margin-left: 0;
  }
}


/* =======================
 * post layout
 * ======================= */
.post-wrapper {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

@media (min-width: 769px) {
  .post-wrapper {
    padding-left: 340px;
    overflow-x: visible;
  }
}

/* post archive trigger */
.post-archive-trigger {
  position: absolute;
  top: 14px;
  right: 19px;
  z-index: 999;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .post-archive-trigger {
    display: none;
  }
}

.post-archive-icon {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #000;
}

.post-archive-icon:before,
.post-archive-icon:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
}

.post-archive-icon:before {
  top: -8px;
}

.post-archive-icon:after {
  top: 8px;
}

.post-archive-triggered.post-archive-icon:before {
  -webkit-transform: translate(-6px, 5px) rotate(-45deg) scaleX(0.5);
  -moz-transform: translate(-6px, 5px) rotate(-45deg) scaleX(0.5);
  transform: translate(-6px, 5px) rotate(-45deg) scaleX(0.5);
}

.post-archive-triggered.post-archive-icon:after {
  -webkit-transform: translate(-6px, -5px) rotate(45deg) scaleX(0.5);
  -moz-transform: translate(-6px, -5px) rotate(45deg) scaleX(0.5);
  transform: translate(-6px, -5px) rotate(45deg) scaleX(0.5);
}

/* post archive */
.post-archive {
  position: absolute;
  left: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  -webkit-transition: left .7s;
  -moz-transition: left .7s;
  transition: left .7s;
}

@media (min-width: 600px) {
  .post-archive {
    margin-left: 10%;
    width: 80%;
  }
}

@media (min-width: 769px) {
  .post-archive {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    background-color: #fff;
    width: 340px;
  }
}

.post-archive-triggered.post-archive {
  left: 0;
}

.post-archive-iterms {
  background-color: #fff;
}

.post-archive-iterm {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 12px 0;
  width: 300px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.post-archive-iterm:before {
  content: "";
  position: absolute;
  top: 32px;
  left: 96.4px;
  width: 3px;
  height: 100%;
  background-color: #b2ccff;
  z-index: 1;
}

.post-archive-date {
  display: inline-block;
  float: left;
  width: 90px;
}

.post-archive-title {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  width: 210px;
}

.post-archive-title:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;
  background-color: #b2ccff;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 10px;
  height: 10px;
  -webkit-transition: background-color .7s;
  -moz-transition: background-color .7s;
  transition: background-color .7s;
  z-index: 2;
}

.post-archive-iterm:hover .post-archive-title:before {
  background-color: #92cd00;
}

.post-archive-title.checked:before {
  background-color: #6599ff;
}

/* post */
.post-header {
  padding: 14px 39px 14px 19px;
  border-bottom: 1px solid #e6e6e6;
}

.post-header h1 {
  margin: 0;
  padding-bottom: 5px;
  line-height: 20px;
}

.post-content {
  padding-right: 18.2px;
  padding-left: 18.2px;
}

.post-nav {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 23.8px;
  text-align: center;
}

.post-nav-sep {
  margin: 14px auto;
  width: 100px;
  height: 2px;
  background-color: #e6e6e6;
}

.post-nav-previous,
.post-nav-next {
  display: inline-block;
  color: #6599ff;
  text-decoration: none;
}

.post-nav-previous:before {
  content: "<<";
  margin-right: 14px;
  color: #8a8a8a;
}

.post-nav-next:after {
  content: ">>";
  margin-left: 14px;
  color: #8a8a8a;
}

.post-comment {
  padding: 23.8px 18.2px;
}

@media (min-width: 600px) {
  .post-header,
  .post-content,
  .post-nav,
  .post-comment {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-width: 300px;
    background-color: #fff;
  }

  .post-header {
    text-align: center;
  }

  .post-nav,
  .post-comment {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .post-content {
    padding: 14px 40px;
    border-bottom: 1px solid #e6e6e6;
  }

  .post-comment {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 769px) {
  .post-header,
  .post-content,
  .post-nav,
  .post-comment {
    max-width: 700px;
  }
}

.post-content a {
  color: #6599ff;
  text-decoration: none;
  -webkit-transition: border .5s;
  -moz-transition: border .5s;
  transition: border .5s;
}

.post-content a:hover {
  border-bottom: 2px dotted #000;
}

.post-content h2 {
  padding-left: 24px;
  border-left: 3px solid #000;
}

.chinese {
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 24px;
}

.chinese p {
  margin: 24px 0;
}

.english {
  font-family: "Titillium Web", sans-serif;
  line-height: 21px;
}

.english p {
  margin: 21px 0;
}


/* =======================
 * specific page
 * ======================= */
/* index */
.index-wrapper {
  padding-top: 15%;
  text-align: center;
}

@media (min-width: 769px) {
  .index-wrapper {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
  }
}

/* about */
.about-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  width: 85%;
}

@media (min-width: 600px) {
  .about-wrapper {
    padding-top: 66px;
    width: 80%;
  }
}

@media (min-width: 769px) {
  .about-wrapper{
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    padding-top: 0;
  }
}


.container{
  height:100%;
  width:100%;
  position:absolute;
}
#star{
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
}
#star svg{
  width:200px;
  -webkit-animation: tada 1.5s infinite ease;
  animation: tada 1.5s infinite;
}

#outer_glow{
  -webkit-animation: explodeem 1s infinite ease;
  animation: explodeem 1s infinite ease;
  -webkit-animation-fill-mode:forwards;
}
#inner_glow{
  -webkit-animation: explodeem .5s infinite ease;
  animation: explodeem .5s infinite ease;
   -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes explodeem {
  0% {
    opacity:0;
  }

  50% {
    opacity:1;
  }

  100% {
    opacity:0;
  }
}

@-webkit-keyframes explodeem {
  0% {
    opacity:0;
  }

  50% {
    opacity:1;
  }

  100% {
    opacity:0;
  }
}

/* Credentials */

.me{
  position:absolute;
  color:#dadada;
  bottom:10px;
  right:10px;
  width:100%;
  text-align:center;
  text-decoration:none;
  font-family:Helvetica, sans-serif;
}
.me:hover{
  color:skyblue;
}



.page-wrapper  {
 
  
 
      background-color:  #fb5872;
}



.container{
  position:relative;
  width:500px;
  height:300px;
  
  margin:221px auto;
}

.cara{
  position:absolute;
  width:132px;
  height:132px;
  border-radius:100%;
  background:#ffeadb;
  margin:65px 175px;
    
}

.ojos{
  position:absolute;
  width:30px;
  height:30px;
  border-radius:100%;
  border-top:9px solid black;
  margin: 65px 12px;
}
.ojos::before{
  content:"";
  display:block;
  width:30px;
  height:30px;
  border-radius:100%;
  background:black;
  margin: -17px 80px
}
.ojos::after{
   content:"";
  display:block;
  width:6px;
  height:6px;
  border-radius:100%;
  background:white;
  margin:-17px 97px
}
.iris{
  position:absolute;
  width:12px;
  height:12px;
  border-radius:100%;
  background:white;
  margin:-12px 83px
}
.rubor{
  position:absolute;
  width:30px;
  height:12px;
  border-radius:100%;
  background:#fea4a4;
  margin:93px 13px
}
.rubor::before{
  content:"";
  display:block;
  width:30px;
  height:12px;
  border-radius:100%;
  background:#fea4a4;
  margin:0px 75px
}
.boca{
  position:absolute;
  width:25px;
  height:25px;
  border-radius:0 0 21px 21px;
  background:#ff6666;
  margin: 102px 55px;
  overflow:hidden;
}
.boca::before{
  content:"";
  display:block;
  width:27px;
  height:21px;
  border-radius:100%;
  background:#ff9898;
  margin:9px 0;
}
.cuello{
  position:absolute;
    border-bottom: 33px solid #ffeadb;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  width: 21px;
  margin:129px 57px;
  
}
.cuello::before{
  content:"";
  display:block;
  width:117px;
  height:63px;
  border-radius:90px 90px 0 0;
  background:#ff7373;
  margin:25px -46px;
}
.cuello::after{
   content:"";
  display:block;
  width:40px;
  height:27px;
  border-radius: 30px 30px 152px 152px;
  background:white;
  margin:-90px -9px;
}
.cabello{
  position:absolute;
  width:162px;
  height:80px;
  border-radius:172px 172px 0 0;
  background:black;
  margin: 30px 162px;
 
opacity:1;
    animation: c 2s linear infinite;
    -moz-animation: c 2s linear infinite;
    -webkit-animation: c 2s linear infinite;
     -o-animation: c 2s linear infinite;
}
.cabello::before{
  content:"";
  display:block;
    border-bottom: 152px solid black;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 160px;
  margin:70px -29px;
}
.cabello::after{
  content:"";
  display:block;
  width:223px;
  height:50px;
 border-radius:100%;
  background:black;
  margin:-99px -31px;
  border-bottom:5px solid #5b95e5;
}
.flequi{
  position:absolute;
  width:160px;
  height:80px;
  border-radius:152px 152px 0 0;
  background:#121212;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  margin:35px 143px;
  animation: c 2s linear infinite;
    -moz-animation: c 2s linear infinite;
    -webkit-animation: c 2s linear infinite;
     -o-animation: c 2s linear infinite;

}

.cabello3{
  position:absolute;
  width:172px;
  height:182px;
  opacity:0;
  border-radius:100%;
  background:black;
  margin: 40px 155px;
    animation: c3 2s linear infinite;
    -moz-animation: c3 2s linear infinite;
    -webkit-animation: c3 2s linear infinite;
     -o-animation: c3 2s linear infinite;
}
.flequi3{
  position:absolute;
  width:172px;
  height:85px;
  opacity:0;
  border-radius:172px 172px 0 0;
  background:#121212;
  margin:35px 155px;
  animation: c3 2s linear infinite;
    -moz-animation: c3 2s linear infinite;
    -webkit-animation: c3 2s linear infinite;
     -o-animation: c3 2s linear infinite;
}
.flequi3::before{
  content:"";
  display:block;
  width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 30px solid #ffeadb;;
  margin:55px 45px;
}
.cabello5{
  position:absolute;
  width:182px;
  height:80px;
  opacity:0;
  border-radius:182px 182px 0 0;
  border-top:55px solid black;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  margin:60px 172px;
    animation: c5 2s linear infinite;
    -moz-animation: c5 2s linear infinite;
    -webkit-animation: c5 2s linear infinite;
     -o-animation: c5 2s linear infinite;
}
.flequi5{
  position:absolute;
  width:165px;
  height:90px;
  opacity:0;
  border-radius:182px 182px 0 0;
  border-top:43px solid #121212;
  -webkit-transform: rotate(-73deg);
  -moz-transform: rotate(-73deg);
  -ms-transform: rotate(-73deg);
  -o-transform: rotate(-73deg);
  transform: rotate(-73deg);
  margin:60px 142px;
    animation: c5 1s linear infinite;
    -moz-animation: c5 1s linear infinite;
    -webkit-animation: c5 2s linear infinite;
     -o-animation: c5 1s linear infinite;

}
.flequi5:before{
  content:"";
  display:block;
  width:112px;
  height:55px;
  border-radius:100%;
  background:#121212;
  margin:-12px 63px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
 

}
.cabello5:before{
  content:"";
  display:block;
  width:60px;
  height:60px;
  border-radius:100px;
  background:black;
  margin:-12px -30px;
}

@-webkit-keyframes c {
 
  0% {opacity: 1; }
  25%{opacity:1;}
  50%{opacity: 0; }
  70%{opacity: 0; }
  90%{opacity: 0; }
  95%{opacity: 0; }
  100% {opacity: 0; } }

@-moz-keyframes c {
 
  0% {opacity: 1; }
  25%{opacity:1;}
  50%{opacity: 0; }
  70%{opacity: 0; }
  90%{opacity: 0; }
  95%{opacity: 0; }
  100% {opacity: 0; } }

@eyframes c {
 
  0% {opacity: 1; }
  25%{opacity:1;}
  50%{opacity: 0; }
  70%{opacity: 0; }
  90%{opacity: 0; }
  95%{opacity: 0; }
  100% {opacity: 0; } }

@-webkit-keyframes c3{
 
  0% {opacity: 0; }
  25%{opacity:0;}
  50%{opacity: 1; }
  70%{opacity: 1; }
  90%{opacity: 0; }
  95%{opacity: 0; }
  100% {opacity: 0; } }

@-moz-keyframes c3{
 
  0% {opacity: 0; }
  25%{opacity:0;}
  50%{opacity: 1; }
  70%{opacity: 1; }
  90%{opacity: 0; }
  95%{opacity: 0; }
  100% {opacity: 0; } }

@keyframes c3{
 
  0% {opacity: 0; }
  25%{opacity:0;}
  50%{opacity: 1; }
  70%{opacity: 1; }
  90%{opacity: 0; }
  95%{opacity: 0; }
  100% {opacity: 0; } }


@-webkit-keyframes c5{
 
  0% {opacity: 0; }
  25%{opacity:0;}
  50%{opacity: 0; }
  70%{opacity: 0; }
  90%{opacity: 1; }
  95%{opacity: 1; }
  100% {opacity: 1; } }

@-moz-keyframes c5{
 
  0% {opacity: 0; }
  25%{opacity:0;}
  50%{opacity: 0; }
  70%{opacity: 0; }
  90%{opacity: 1; }
  95%{opacity: 1; }
  100% {opacity: 1; } }

@-keyframes c5{
 
  0% {opacity: 0; }
  25%{opacity:0;}
  50%{opacity: 0; }
  70%{opacity: 0; }
  90%{opacity: 1; }
  95%{opacity: 1; }
  100% {opacity: 1; } }

  *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Muli');
$textDur: 1050ms;
$waveDur: 2100ms;

html, body {
  font-size: 62.5%;
  background-color: Black;
  font-family: 'Muli', Helvetica, sans-serif;
}

.container {
  position: absolute;
  width: 17rem;
  height: 10rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fff;
  font-size: 6rem;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  bottom: 0;
  animation: text $textDur ease-in infinite;
  transform: translatez(0);
  &-w {
    left: 0rem;
    transform: translate3d(0, -4rem, 0);
    animation: text-w $textDur ease-in infinite;
  }
  &-a {
    left: 5.4rem;
    animation-delay: 150ms;
  }
  &-v {
    left: 9.6rem;
    animation-delay: 230ms;
  }
  &-e {
    left: 13rem;
    animation-delay: 310ms;
  }
}

.coast { // wave: translate-x
  position: absolute;
  left: 1.3rem;
  bottom: 1.7rem;
  width: 6.2rem;
  height: 2.2rem;
  display: inline-block;
  animation: coast $waveDur linear infinite;
  transform: translateZ(0);
}

.wave-rel-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 3rem;
  perspective-origin: 0%, 50%;
}

.wave { // wave: width && scale && rotate 
  position: absolute;
  width: 6.2rem;
  height: 2.2rem;
  border-radius: 1.1rem;
  background: radial-gradient(ellipse at center, rgba(116, 241, 252, 1) 0%, rgba(50, 230, 255, 1) 73%, rgba(21, 199, 250, 1) 100%);
  display: inline-block;
  animation: wave $waveDur linear infinite;
  will-change: width;
  transform: translateZ(0) scale(0);
}

.delay {
  animation-delay: $waveDur / 2;
}

@keyframes text {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -4rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text-w {
  0% {
    transform: translate3d(0, -4rem, 0);
  }
  38% {
    transform: translate3d(0, -4rem, 0);
  }
  69% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -4rem, 0);
  }
}

@keyframes coast {
  0% {
    transform: translate3d(0, 0, 0);
  }
  23% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(16rem, 0, 0);
  }
  100% {
    transform: translate3d(16rem, 0, 0);
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
    width: 2.2rem;
  }
  10% {
    transform: scale(1);
  }
  23% {
    width: 2.2rem;
  }
  32% {
    width: 6.1rem;
  }
  42% {
    width: 5rem;
    transform: rotateY(0deg) scale(1, 1);
  }
  51% {
    transform: rotateY(90deg) scale(0.6, 0.2);
  }
  52% {
    transform: rotateY(90deg) scale(0);
  }
  100% {
    transform: rotateY(90deg) scale(0);
  }
}