---
layout: default
---
<div class="footer-clear page-wrapper">


  
  <diV>
  	<style >
  		body{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: hsla(0, 0%, 0%, 1);
}
  	</style>
  	<canvas id='canv'></canvas>

  	<script type="text/javascript">
  		var c = document.getElementById('canv');
var $ = c.getContext('2d');
var w = c.width = window.innerWidth;
var h = c.height = window.innerHeight;
var num = w * h / 1010;
var arr = [];
var i = 0;

while (arr.length < num) {
  arr.push({
    x: (Math.random() * w) | 0,
    y: (Math.random() * h) | 0,
    vx: 0,
    vy: 0
  });
}

function _X(foo) {
  return Math.sin(foo.y / 5) / .65;
}

function _Y(foo) {
  return Math.cos(foo.x / 5) / .65;
}

function upd(bar) {
  var n = arr[i];
  n.x += n.vx;
  n.y += n.vy;
  if (n.x < 0) {
    n.x = w + n.x;
  } else if (n.x >= w) {
    n.x -= w;
  }

  if (n.y < 0) {
    n.y = h + n.y;
  } else if (n.y >= h) {
    n.y -= h;
  }
  n.vy = _Y(n);
  n.vx = _X(n);
}

function draw(bar) {
  var n = arr[i];
  var col = 'hsla(' + i + ',100%, 50%, 1)';

  $.beginPath();
  $.strokeStyle = col;
  $.arc(n.x, n.y, .5 / Math.max((n.vx * n.vx + n.vy * n.vy), .1), 0, 5 * Math.PI, 0);
  $.closePath();
  $.stroke();
}

function go() {
  $.fillStyle = 'hsla(0,0%,0%,.2)';
  $.fillRect(0, 0, w, h);

  for (i = 0; i < num; i++) {
    upd(i);
    draw(i);
  }
};

window.requestAnimFrame = (function() {
  return window.requestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.oRequestAnimationFrame ||
    window.msRequestAnimationFrame ||
    function(callback) {
      window.setTimeout(callback, 1000 / 60);
    };
})();

run();

function run() {
  window.requestAnimFrame(run);
  go();
}
  	</script>
  </diV>
  

  <div class="page-container">

  	

    {{ content }}

  </div>

  <!-- footer -->
  {% include footer.html %}

</div>
